html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    float: left;
    width: 100%;
}

.background {
    background-image: url("./ghandi-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
}

.ow {
    display: inline-block;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    max-width: 40%;
    padding: 10%;
}

#Quote {
    color: white;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Bad Script', cursive;
}

#Author {
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Cabin', sans-serif;
}